<section class="breadcrumb-area">
  {%- liquid
    assign ratio = 1
    assign ratio = settings.breadcrumb_bgimg.aspect_ratio
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}
  <div class="ratio" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
    {%- if settings.breadcrumb_bgimg != blank -%}
      {% assign image_height = settings.breadcrumb_bgimg.width | divided_by: settings.breadcrumb_bgimg.aspect_ratio %}
      {{
        settings.breadcrumb_bgimg
        | image_url: width: 1920
        | image_tag: width: settings.breadcrumb_bgimg.width, height: image_height, class: 'lazyload', loading: 'lazy'
      }}
    {%- else -%}
      {%- capture placeholder -%}hero-apparel-{% cycle 1, 2, 3 %}{%- endcapture -%}
      {{ placeholder | placeholder_svg_tag: 'placeholder-svg desk-img' }}
    {%- endif -%}
  </div>
  <div class="container">
    <div class="breadcrumb-index">
      <!-- breadcrumb-list start -->
      {% render 'breadcrumb-builtin' %}
      <!-- breadcrumb-list end -->
      <!-- breadcrumb main-title start -->
      <div class="breadcrumb-title">
        {% if template contains 'product' %}
          <h1 class="mr-0">{{ product.title }}</h1>
        {% elsif template contains 'collection' and collection.handle %}
          <h1 class="mr-0">{{ collection.title }}</h1>
        {% elsif template == 'blog' %}
          <h1 class="mr-0">{{ blog.title }}</h1>
        {% elsif template == 'article' %}
          <h1 class="mr-0">{{ blog.title }}</h1>
        {% else %}
          <h1 class="mr-0">{{ page_title }}</h1>
        {% endif %}
      </div>
      <!-- breadcrumb main-title end -->
    </div>
  </div>
</section>
<style>
  .breadcrumb-area {
      padding: 40px 0;
      {% if settings.breadcrumb_bgimg_enable %}
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      {% endif %}
      {% if settings.breadcrumb_bgcolor_enable %}
      background-color: {{ settings.breadcrumb_bgcolor }};
      {% endif %}
      position: relative;
  }
  .breadcrumb-area .ratio {
      display: block;
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 0;
  }
  .breadcrumb-area img {
      display: block;
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 0;
  }
  {% if settings.breadcrumb_bgimg_enable %}
  .breadcrumb-area::before {
      content: "";
      position: absolute;
      top: 0;
      inset-inline-start: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      {% if settings.breadcrumb_bgimg_overlay_color_enable %}
      background-color: {{ settings.breadcrumb_bgimg_overlay_color }};
      opacity: {{ settings.breadcrumb_bgimg_overlay_color_opacity }};
      {% endif %}
  }
  {% endif %}

  /* breadcrumb title css */
  .breadcrumb-area .breadcrumb-index {
      position: relative;
      z-index: 1;
  }
  .breadcrumb-area .breadcrumb-index .breadcrumb-title {
      text-align: center;
      margin-top: 5px;
      position: relative;
  }
  .breadcrumb-area .breadcrumb-index .breadcrumb-title h1 {
      color: {{ settings.breadcrumb_main_title_color }};
      font-size: 40px;
  }
  @media (max-width: 1199px) {
      .breadcrumb-area .breadcrumb-index .breadcrumb-title h1 {
          font-size: 30px;
      }
  }
  @media (max-width: 479px) {
      .breadcrumb-area .breadcrumb-index .breadcrumb-title h1 {
          font-size: 24px;
      }
  }
</style>
