{%- liquid
  assign product_form_id = 'quick-add-' | append: section_id | append: product.id
  assign qty_rules = false
  if product.selected_or_first_available_variant.quantity_rule.min > 1 or product.selected_or_first_available_variant.quantity_rule.max != null or product.selected_or_first_available_variant.quantity_rule.increment > 1
    assign qty_rules = true
  endif
-%}
{%- if product.variants.size > 1 or qty_rules -%}
  <div class="cart-quickview">
  <div id="Quantity-Form-{{ product.id }}" class="product-qty" {{ block.shopify_attributes }}>
    {%- assign cart_qty = cart | item_count_for_variant: product.selected_or_first_available_variant.id -%}
    <qty-box class="quantity qty-box">
      <button class="qty-bt" name="minus" type="button"><i class="feather-minus"></i></button>
      <input class="qty-box-input" type="number" name="quantity" id="Quantity-{{ product.id }}" data-cart-quantity="{{ cart_qty }}" data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}" min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
      {% if product.selected_or_first_available_variant.quantity_rule.max != null %} data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}" max="{{ product.selected_or_first_available_variant.quantity_rule.max }}" {% endif %} step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}" value="{{ product.selected_or_first_available_variant.quantity_rule.min }}" form="{{ product_form_id }}"/>
      <button class="qty-bt" name="plus" type="button"><i class="feather-plus"></i></button>
    </qty-box>
    <div class="caption">
      {%- if product.selected_or_first_available_variant.quantity_rule.increment > 1 -%}
      <span class="divider">
        {{- 'products.product.quantity.multiples_of' | t: quantity: product.selected_or_first_available_variant.quantity_rule.increment -}}
      </span>
      {%- endif -%}
      {%- if product.selected_or_first_available_variant.quantity_rule.min > 1 -%}
      <span class="divider">
        {{- 'products.product.quantity.minimum_of' | t: quantity: product.selected_or_first_available_variant.quantity_rule.min -}}
      </span>
      {%- endif -%}
      {%- if product.selected_or_first_available_variant.quantity_rule.max != null -%}
      <span class="divider">
        {{- 'products.product.quantity.maximum_of' | t: quantity: product.selected_or_first_available_variant.quantity_rule.max -}}
      </span>
      {%- endif -%}
    </div>
  </div>

  
  <div class="product-action">
    <a class="wishlist-custom-action wishlist" data-handle="{{ product.handle }}">
      <i class="ri-heart-line"></i>
    </a>
    <qv-modal data-modal="#QuickAdd-{{ product.id }}" class="quick-action">
      <a
        id="{{ product_form_id }}-submit"
        type="submit"
        name="add"
        class="quick-add-btn"
        aria-haspopup="dialog"
        aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
        data-product-url="{{ shop.url }}{{ product.url | split: "?" | first }}?view=main-product"
      >
        <span class="cart-title">
          <i class="ri-shopping-bag-line"></i>
          <span class="title">{{ 'products.product.add_to_cart' | t }}</span>
        </span>
        <div class="ajax-loader hidden">
          <span class="spinner-border"></span>
        </div>
      </a>
    </qv-modal>
    <qv-modal data-modal="#QuickAdd-{{ product.id }}" class="quick-view">
      <a
        id="{{ product_form_id }}-submit"
        type="submit"
        name="add"
        class="quick-add-btn"
        aria-haspopup="dialog"
        aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
        data-product-url="{{ shop.url }}{{ product.url | split: "?" | first }}?view=main-product"
      >
        <span class="cart-title"><i class="ri-eye-line"></i></span>
        <div class="ajax-loader hidden">
          <span class="spinner-border"></span>
        </div>
      </a>
    </qv-modal>
  </div>
</div>

  <popup-view id="QuickAdd-{{ product.id }}" class="quickview-modal">
    <div
      role="dialog"
      aria-label="{{ 'products.product.choose_product_options' | t: product_name: product.title | escape }}"
      aria-modal="true"
      class="quickview-block global-settings-popup"
      tabindex="-1"
    >
      <a id="stclose-{{ product.id }}" type="button" class="modal-close"><i class="feather-x"></i></a>
      <div id="QuickAddInfo-{{ product.id }}" class="quick-view"></div>
    </div>
  </popup-view>
{%- else -%}
  <cart-action class="quick-action">
    {%- form 'product',
      product,
      id: product_form_id,
      class: 'form',
      novalidate: 'novalidate',
      data-type: 'add-to-cart-form'
    -%}
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
      <button
        id="{{ product_form_id }}-submit"
        type="submit"
        name="add"
        class="quick-add-btn"
        aria-haspopup="dialog"
        aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
        aria-live="polite"
        data-sold-out-message="true"
        aria-label="cart"
        {% if product.selected_or_first_available_variant.available == false %}
          disabled
        {% endif %}
      >
        <span class="cart-title">
          {%- if product.selected_or_first_available_variant.available -%}
            <i class="ri-shopping-bag-line"></i>
            <span class="title">{{ 'products.product.add_to_cart' | t }}</span>
          {%- else -%}
            <i class="ri-shopping-bag-line"></i>
          {%- endif -%}
        </span>
        <div class="ajax-loader hidden">
          <span class="spinner-border"></span>
        </div>
      </button>
    {%- endform -%}
  </cart-action>
{%- endif -%}
