<!-- shop-top-bar start -->
<div class="shop-top-bar">
  <div class="product-filter{% if section.settings.sidebar_handle == 'without_sidebar' %} without-sidebar{% endif %}">
    <button class="filter-button" type="button" aria-label="filter">
      <i class="feather-filter"></i>
      <span>{{ 'collections.facets.filter_button' | t }}</span>
    </button>
  </div>
  {% if section.settings.tab_bar_enable %}
    <div class="product-view-mode">
      <!-- shop-item-filter-list start -->
      <button
        class="list-change-view grid-three{% if template == 'collection' or template == 'collection.right' or template == 'collection.without' %} active{% endif %}"
        data-grid-view="3"
        aria-label="grid"
      >
        <i class="feather-grid"></i>
      </button>
      <button
        class="list-change-view list-one{% if template == 'collection.list' or template == 'collection.list-right' or template == 'collection.list-without' %} active{% endif %}"
        data-grid-view="1"
        aria-label="list"
      >
        <i class="feather-list"></i>
      </button>
      <!-- shop-item-filter-list end -->
    </div>
  {% endif %}
  <span id="pro-count" class="product-count-text">
    {%- if results.results_count -%}
      {{
        'collections.facets.results_with_count'
        | t: terms: results.terms, count: results.results_count
      }}
    {%- elsif results.products_count == results.all_products_count -%}
      {{ 'collections.facets.product_count_simple' | t: count: results.products_count }}
    {%- else -%}
      {{
        'collections.facets.product_count'
        | t: product_count: results.products_count, count: results.all_products_count
      }}
    {%- endif -%}
  </span>
  
  {% if section.settings.short_by_enable %}
    <!-- product-short start -->
    <div class="product-short">
      <label for="SortBy">{{ 'collections.sorting.title' | t | append: ':' }}</label>
      <select class="nice-select" name="sortby" id="SortBy">
        <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
        <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
        <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
        <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
        <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
        <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
        <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
        <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
      </select>
      {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
      <button class="short-title" aria-label="sort">
        <span class="sort-title">
          {%- liquid
            case sort_by
              when 'manual'
                echo 'collections.sorting.featured' | t
              when 'best-selling'
                echo 'collections.sorting.best_selling' | t
              when 'title-ascending'
                echo 'collections.sorting.az' | t
              when 'title-descending'
                echo 'collections.sorting.za' | t
              when 'price-ascending'
                echo 'collections.sorting.price_ascending' | t
              when 'price-descending'
                echo 'collections.sorting.price_descending' | t
              when 'created-descending'
                echo 'collections.sorting.date_descending' | t
              when 'created-ascending'
                echo 'collections.sorting.date_ascending' | t
            endcase
          -%}
        </span>
        <span class="sort-icon"><i class="feather-chevron-down"></i></span>
      </button>
      <button class="short-title short-title-lg" aria-label="sort">
        <span class="sort-title">
          {%- liquid
            case sort_by
              when 'manual'
                echo 'collections.sorting.featured' | t
              when 'best-selling'
                echo 'collections.sorting.best_selling' | t
              when 'title-ascending'
                echo 'collections.sorting.az' | t
              when 'title-descending'
                echo 'collections.sorting.za' | t
              when 'price-ascending'
                echo 'collections.sorting.price_ascending' | t
              when 'price-descending'
                echo 'collections.sorting.price_descending' | t
              when 'created-descending'
                echo 'collections.sorting.date_descending' | t
              when 'created-ascending'
                echo 'collections.sorting.date_ascending' | t
            endcase
          -%}
        </span>
        <span class="sort-icon"><i class="feather-chevron-down"></i></span>
      </button>
      <ul class="list-unstyled" role="list" id="select-wrap">
        <li
          {% if sort_by == 'manual' %}
            class="selected"
          {% endif %}
        >
          <a href="?sort_by=manual">{{ 'collections.sorting.featured' | t }}</a>
        </li>
        <li
          {% if sort_by == 'best-selling' %}
            class="selected"
          {% endif %}
        >
          <a href="?sort_by=best-selling">{{ 'collections.sorting.best_selling' | t }}</a>
        </li>
        <li
          {% if sort_by == 'title-ascending' %}
            class="selected"
          {% endif %}
        >
          <a href="?sort_by=title-ascending">{{ 'collections.sorting.az' | t }}</a>
        </li>
        <li
          {% if sort_by == 'title-descending' %}
            class="selected"
          {% endif %}
        >
          <a href="?sort_by=title-descending">{{ 'collections.sorting.za' | t }}</a>
        </li>
        <li
          {% if sort_by == 'price-ascending' %}
            class="selected"
          {% endif %}
        >
          <a href="?sort_by=price-ascending">{{ 'collections.sorting.price_ascending' | t }}</a>
        </li>
        <li
          {% if sort_by == 'price-descending' %}
            class="selected"
          {% endif %}
        >
          <a href="?sort_by=price-descending">{{ 'collections.sorting.price_descending' | t }}</a>
        </li>
        <li
          {% if sort_by == 'created-descending' %}
            class="selected"
          {% endif %}
        >
          <a href="?sort_by=created-descending">{{ 'collections.sorting.date_descending' | t }}</a>
        </li>
        <li
          {% if sort_by == 'created-ascending' %}
            class="selected"
          {% endif %}
        >
          <a href="?sort_by=created-ascending">{{ 'collections.sorting.date_ascending' | t }}</a>
        </li>
      </ul>
    </div>
  {% endif %}
  <!-- product-short end -->
</div>
<!-- shop-top-bar end -->
<script type="text/javascript">
  addEventListener('DOMContentLoaded', (event) => {
    Shopify.queryParams = {};
    if (location.search.length) {
      for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
        aKeyValue = aCouples[i].split('=');
        if (aKeyValue.length > 1) {
          Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
        }
      }
    }
    var $select = $('#SortBy');
    $('a[href="#sort"]').click(function () {
      $select.val( $(this).data('select') );
      event.preventDefault();
      Shopify.queryParams.sort_by = jQuery(this).data('select');
      location.search = jQuery.param(Shopify.queryParams);
    });
    $('.list-change-view').on("click",function () {
      event.preventDefault();
      var data_grid = $(this).attr('data-grid-view');
      if($('.shop-product-wrap').hasClass('grid-1') || $('.shop-product-wrap').hasClass('grid-2') || $('.shop-product-wrap').hasClass('grid-3') || $('.shop-product-wrap').hasClass('grid-4')){
        $('.shop-product-wrap').removeClass('grid-1');
        $('.shop-product-wrap').removeClass('grid-2');
        $('.shop-product-wrap').removeClass('grid-3');
        $('.shop-product-wrap').removeClass('grid-4');
        $('.shop-product-wrap').addClass('grid-'+data_grid);
      }else{
        $('.shop-product-wrap').addClass('grid-'+data_grid);
      }
    });
    $('.list-change-view').on("click",function () {
      $('.list-change-view').removeClass('active');
      $(this).addClass('active');
    });

    $(function() {
      $('#SortBy').val('{{ collection.sort_by | default: collection.default_sort_by }}').bind('change', function() {
        Shopify.queryParams.sort_by = jQuery(this).val();
        location.search = jQuery.param(Shopify.queryParams);
      });
    });

    $('.product-short .short-title-lg').on('click', function () {
      if ($('#select-wrap').hasClass('active')) {
        $('#select-wrap').removeClass('active');
        $(this).removeClass('active');
      }
      else {
        $('#select-wrap').addClass('active');
        $(this).addClass('active');
      }
    });
  });
</script>
<style>
  /*=====================================
    collection sorting css
  ======================================*/
  /* shop top bar css */
  .shop-top-bar {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--theme-border-color);
  }

  /* filter button css */
  .shop-top-bar .product-filter {
    display: none;
    padding-inline-end: 15px;
    border-inline-end: 2px solid var(--theme-border-color);
  }
  .shop-top-bar .product-filter.without-sidebar {
    display: block;
  }
  .shop-top-bar .product-filter button {
    color: var(--font-color-body);
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 0;
  }
  .shop-top-bar .product-filter button span {
    display: block;
    color: var(--font-color-body);
    font-size: var(--font-size-body);
    margin-inline-start: 5px;
    font-weight: 600;
    line-height: 1;
  }
  @media (max-width: 1199px) {
    .shop-top-bar .product-filter {
      display: block;
    }
  }
  @media (max-width: 479px) {
    .shop-top-bar .product-filter {
      margin: 0px;
      padding: 0px;
      border: none;
    }
  }

  /* grid-list css */
  .shop-top-bar .product-view-mode {
    display: flex;
    margin-inline-end: auto;
  }
  .shop-top-bar .product-view-mode .list-change-view {
    display: block;
    color: var(--font-color-header);
    font-size: 18px;
    margin-inline-end: 15px;
    cursor: pointer;
    line-height: 0;
    -webkit-transition: all 0s ease-in-out 0s;
    -o-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s;
  }
  .shop-top-bar .product-view-mode .list-change-view:last-child {
    margin-inline-end: 0px;
  }
  .shop-top-bar .product-view-mode .list-change-view.active {
    color: var(--font-color-primary);
  }
  .shop-top-bar .product-view-mode .list-change-view i {
    display: block;
    line-height: 1;
  }
  @media (max-width: 479px) {
    .shop-top-bar .product-view-mode {
      margin-inline-end: unset;
    }
  }

  /* product sorting css */
  .product-short {
    display: flex;
    align-items: center;
    position: relative;
  }
  .product-short label {
    color: var(--font-color-header);
    font-size: var(--subtitle-font-size-body);
    font-weight: var(--subtitle-custom-font-weight-body);
    margin-bottom: 0;
    line-height: 1;
  }
  .product-short select {
    display: none;
    color: var(--font-color-body);
    font-size: var(--font-size-body);
    min-width: 200px;
    background-color: transparent;
    border: none;
  }
  @media (max-width: 767px) {
    .product-short select {
      display: block;
      padding: 0px 20px 0px 15px;
    }
  }
  @media (max-width: 479px) {
    .product-short {
      order: 1;
      width: 100%;
    }
    .product-short label {
      width: 85px;
    }
    .product-short select {
      min-width: auto;
      width: 100%;
    }
  }

  /* product sorting ul li css */
  .product-short .short-title {
    color: var(--font-color-body);
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-inline-start: 15px;
  }
  .product-short .short-title:hover {
    color: var(--font-color-header);
  }
  .product-short .short-title span.sort-title {
    display: block;
  }
  .product-short .short-title span.sort-icon {
    display: block;
    line-height: 0;
  }
  .product-short .short-title span.sort-icon i {
    display: block;
    line-height: 0;
  }
  .product-short .short-title span.sort-icon i::before {
    font-weight: 600!important;
  }
  .product-short .short-title.short-title-lg {
    display: none;
  }
  .product-short ul {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - -10px);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    overflow: hidden;
  }
  .product-short:hover ul {
    opacity: 1;
    visibility: visible;
  }
  .product-short ul,
  .product-short:hover ul {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .product-short ul li a {
    display: block;
    color: var(--font-color-body);
    padding: 10px 20px;
    background-color: var(--background-color-body);
  }
  .product-short ul li:hover a,
  .product-short ul li.selected a {
    color: var(--font-color-header);
  }
  @media (max-width: 1199px) {
    .product-short .short-title {
      display: none;
    }
    .product-short .short-title.short-title-lg {
      color: var(--font-color-body);
      display: flex;
    }
    .product-short .short-title.short-title-lg.active {
      color: var(--font-color-header);
    }
    .product-short ul.active {
      opacity: 1;
      visibility: visible;
    }
    .product-short ul,
    .product-short:hover ul {
      -webkit-transition: all 0s ease-in-out 0s;
      -o-transition: all 0s ease-in-out 0s;
      transition: all 0s ease-in-out 0s;
    }
  }
  @media (max-width: 767px) {
    .product-short .short-title.short-title-lg {
      display: none;
    }
    .product-short ul {
      display: none;
    }
  }
  @media (max-width: 479px) {
    .product-short .short-title {
      min-width: auto;
      width: 100%;
    }
  }
</style>
