{%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
{{ form.errors | default_errors }}
{%- if form.posted_successfully? -%}
<div class="post-success">
  <ul class="list-unstyled">
    <li class="text-success">{{ 'contact.form.post_success' | t }}</li>
  </ul>
</div>
{%- endif -%}
<ul class="form-fill list-unstyled">
  <div class="form-wrapper">
    <li>
      <label for="ContactFormName" class="hidden">{{ section.settings.name_placeholder }}</label>
      <input
      type="text"
      placeholder="{{ section.settings.name_placeholder }}"
      class="{% if form.errors contains 'name' %}error{% endif %}"
      name="contact[name]"
      id="ContactFormName"
      value="{% if form.name %}{{ form.name }}{% elsif customer.name %}{{ customer.name }}{% endif %}"
      required
      >
    </li>
    <li>
      <label for="ContactFormEmail" class="hidden">{{ section.settings.email_placeholder }}</label>
      <input
      type="email"
      placeholder="{{ section.settings.email_placeholder }}"
      class="{% if form.errors contains 'email' %}error{% endif %}"
      name="contact[email]"
      id="ContactFormEmail"
      value="{% if form.email %}{{ form.email }}{% elsif customer.email %}{{ customer.email }}{% endif %}"
      required
      >
      {%- if form.errors contains 'email' -%}
      <small class="contact__field-error" id="ContactForm-email-error">
        <span class="form__message">
          <span class="svg-wrapper">
            {{- 'icon-error.svg' | inline_asset_content -}}
          </span>
          {{- form.errors.translated_fields.email | capitalize }}
          {{ form.errors.messages.email -}}
        </span>
      </small>
      {%- endif -%}
    </li>
    <li>
      <label for="ContactFormPhone" class="hidden">{{ section.settings.phone_placeholder }}</label>
      <input
      type="text"
      placeholder="{{ section.settings.phone_placeholder }}"
      class="{% if form.errors contains 'phone' %}error{% endif %}"
      name="contact[phone]"
      id="ContactFormPhone"
      value="{% if form.phone %}{{ form.phone }}{% elsif customer.phone %}{{ customer.phone }}{% endif %}"
      required
      >
    </li>
  </div>
  <div class="form-wrapper">
    <li class="h-100 textarea">
      <label for="ContactFormMessage" class="hidden">{{ section.settings.message_placeholder }}</label>
      <textarea
      placeholder="{{ section.settings.message_placeholder }}"
      class="custom-textarea h-100"
      name="contact[body]"
      id="ContactFormMessage"
      required
      >{% if form.body %}{{ form.body }}{% endif %}</textarea>
    </li>
  </div>
</ul>
<div class="contact-submit">
  <label class="read-agree">
    <input type="checkbox" class="cust-checkbox">
    <span class="cust-check"></span>
    <p class="mr-0 agree-text">
      {{ section.settings.read_agree_text }}
    </p>
  </label>
  <div>
    <button type="submit" class="msg-btn btn btn-style" aria-label="{{ section.settings.form_button_name }}">
      <span>{{ section.settings.form_button_name }}</span>
    </button>
  </div>
</div>
{% endform %}
<style>
/* error css */
.errors{
  margin: 30px 0 15px;
  border-radius: 0;
}
.errors ul{
  list-style: disc;
  margin-inline-start: 15px;
  text-align: start;
}
@media (max-width: 767px){
 .errors{
    margin: 20px 0 15px;
 }
}
/* form css */
ul.form-fill {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
ul.form-fill li {
  margin-top: 30px;
}
ul.form-fill li:first-child {
  margin-top: 0px;
}
ul.form-fill li textarea,
ul.form-fill li input {
  padding: 15px 20px;
}
ul.form-fill li input,
ul.form-fill li textarea{
  display: block;
  width: 100%;
}
.contact-submit{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 30px 0px 0px 0px;
}
ul.form-fill li.textarea,
ul.form-fill li.textarea textarea {
  height: 100%;   
}
.contact-submit label.read-agree{
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}
.contact-submit label.read-agree input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.contact-submit label.read-agree .agree-text{
  margin: 0;
  margin-inline-start: 20px;
}
.contact-submit label.read-agree span.cust-check {
  min-width: 14px;
  height: 14px;
  background-color: var(--background-color-body);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--theme-border-color);
  border-radius: var(--sti-border-radius);
  overflow: hidden;
}
.contact-submit label.read-agree span.cust-check::after {
  display: none;
  content: "\e92b";
  font-family: 'feather' !important;
  color: var(--font-color-header);
  font-size: 16px;
}
.contact-submit label.read-agree input.cust-checkbox:checked ~ span.cust-check::after {
  display: block;
}

/* success css */
.post-success{
  margin-bottom: 15px;
}
.post-success ul{
  list-style: disc;
  margin-inline-start: 15px;
}
@media (max-width: 1199px) {
  ul.form-fill li {
      margin-top: 15px;
  }
}
@media (max-width: 767px){
  ul.form-fill {
    gap: 15px;
  }
}
@media (max-width: 600px){
  .contact-submit,
  ul.form-fill {
    grid-template-columns: repeat(1, 1fr);
  }
}
</style>
