<li class="menu-link" {{ block.shopify_attributes }}>
  <a
    href="{{ block.settings.menu_sub_url }}"
    class="link-title"
    style="--font-size: {{ section.settings.menu_font_size }}px; --font-size-lg: {{ section.settings.menu_font_size_lg }}px; --text-transform: {{ section.settings.menu_text_transform }};  --font-weight: {{ section.settings.menu_font_weight }};"
  >
    <span class="sp-link-title">
      {{- block.settings.menu_sub_title -}}
      {%- if block.settings.menu_sub_label != '' -%}
        <span class="{{ section.id }}-{{ block.id }}-label">{{ block.settings.menu_sub_label }}</span>
      {%- endif -%}
    </span>
    <span class="menu-arrow"><i class="feather-chevron-down"></i></span>
  </a>
  <div class="link-title-lg">
    <a href="{{ block.settings.menu_sub_url }}" class="sp-link-title">{{ block.settings.menu_sub_title }}</a>
    <button
      type="button" data-bs-toggle="collapse"
      data-bs-target="#sub-collapse-{{ block.settings.menu_sub_title | handleize }}"
      class="menu-arrow dropdown-btn"
      aria-label="{{ block.settings.menu_sub_title | handleize }}"
    >
      <i class="feather-plus"></i>
    </button>
  </div>
  <ul
    class="list-unstyled menu-dropdown sub-menu dropdown-content collapse"
    id="sub-collapse-{{ block.settings.menu_sub_title | handleize }}"
  >
    {% assign menu_sub_select = block.settings.menu_sub_select %}
    {% for link in linklists[menu_sub_select].links %}
      {% assign sublink = link.title | handle %}
      {% if linklists[sublink].links != '' %}
        <li class="submenu-li">
          <a href="{{ link.url }}" class="sublink-title">
            <span class="sp-link-title">{{ link.title }}</span>
            <span class="menu-arrow"><i class="feather-chevron-right"></i></span>
          </a>
          <div class="sublink-title sublink-title-lg">
            <a href="{{ link.url }}" class="sp-link-title">{{ link.title }}</a>
            <button
              type="button" data-bs-toggle="collapse"
              data-bs-target="#sup-collapse-{{ link.title | handleize }}"
              class="menu-arrow dropdown-btn"
              aria-label="{{ link.title | handleize }}"
            >
              <i class="feather-plus"></i>
            </button>
          </div>
          <ul class="list-unstyled supmenu-dropdown dropdown-content collapse" id="sup-collapse-{{ link.title | handleize }}">
            {% for sublink in linklists[sublink].links %}
              {% assign suplink = sublink.title | handle %}
              {% if linklists[suplink].links != '' %}
              <li class="supmenu-li">
                <a href="{{ sublink.url }}" class="suplink-title">
                  <span class="sp-link-title">{{ sublink.title }}</span>
                  <span class="menu-arrow"><i class="feather-chevron-right"></i></span>
                </a>
                <div class="suplink-title suplink-title-lg">
                  <a href="{{ sublink.url }}" class="sp-link-title">{{ sublink.title }}</a>
                  <button
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#childsup-collapse-{{ sublink.title | handleize }}"
                    class="menu-arrow dropdown-btn"
                    aria-label="{{ sublink.title | handleize }}"
                  >
                    <i class="feather-plus"></i>
                  </button>
                </div>
                {% if sublink.links.size > 0 %}
                <ul class="list-unstyled childsupmenu-dropdown dropdown-content collapse" id="childsup-collapse-{{ link.title | handleize }}">
                  {% for third_level_link in sublink.links %}
                    <li class="childsupmenu-li">
                      <a href="{{ third_level_link.url }}" class="childsuplink-title">{{ third_level_link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              </li>
              {% else %}
              <li class="supmenu-li">
                <a href="{{ sublink.url }}" class="suplink-title">
                  <span class="sp-link-title">{{ sublink.title }}</span>
                </a>
                <a href="{{ sublink.url }}" class="suplink-title suplink-title-lg">
                  <span class="sp-link-title">{{ sublink.title }}</span>
                </a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li class="submenu-li">
          <a href="{{ link.url }}" class="sublink-title">
            <span class="sp-link-title">{{ link.title }}</span>
          </a>
          <a href="{{ link.url }}" class="sublink-title sublink-title-lg">
            <span class="sp-link-title">{{ link.title }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</li>
<style>
  /*=====================================
    header label css
  ======================================*/
  a.link-title span.sp-link-title span.{{ section.id }}-{{ block.id }}-label {
    color: {{ block.settings.menu_sub_label_color }};
    font-size: {{ block.settings.menu_sub_label_font_size }}px;
    padding: 2px 5px;
    position: absolute;
    top: -{{ block.settings.menu_sub_label_top_position }}px;
    right: 0;
    transform: translateX(100%);
    background-color: {{ block.settings.menu_sub_label_bgcolor }};
    text-transform: {{ block.settings.menu_sub_label_text_transform }};
    font-weight: {{ block.settings.menu_sub_label_font-weight }};
    border-radius: {{ block.settings.menu_sub_label_border_radius }}px;
    line-height: {{ block.settings.menu_sub_label_line_height }};
  }
  a.link-title span.sp-link-title span.{{ section.id }}-{{ block.id }}-label::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid {{ block.settings.menu_sub_label_bgcolor }};
  }
  @media (max-width: 1199px) {
    a.link-title span.sp-link-title span.{{ section.id }}-{{ block.id }}-label {
      top: -8px;
    }
  }
</style>