<li class="menu-link" {{ block.shopify_attributes }}>
  <a
    href="{{ block.settings.menu_link_url }}"
    class="link-title"
    style="--font-size: {{ section.settings.menu_font_size }}px; --font-size-lg: {{ section.settings.menu_font_size_lg }}px;  --text-transform: {{ section.settings.menu_text_transform }};  --font-weight: {{ section.settings.menu_font_weight }};"
  >
    <span class="sp-link-title">
      {{- block.settings.menu_link_title -}}
      {%- if block.settings.menu_link_label != '' -%}
        <span class="{{ section.id }}-{{ block.id }}-label">{{ block.settings.menu_link_label }}</span>
      {%- endif -%}
    </span>
  </a>
  <a href="{{ block.settings.menu_link_url }}" class="link-title-lg">
    <span class="sp-link-title">{{ block.settings.menu_link_title }}</span>
  </a>
</li>
<style>
  /*=====================================
    header label css
  ======================================*/
  a.link-title span.sp-link-title span.{{ section.id }}-{{ block.id }}-label {
    color: {{ block.settings.menu_link_label_color }};
    font-size: {{ block.settings.menu_link_label_font_size }}px;
    padding: 2px 5px;
    position: absolute;
    top: -{{ block.settings.menu_link_label_top_position }}px;
    right: 0;
    transform: translateX(100%);
    background-color: {{ block.settings.menu_link_label_bgcolor }};
    text-transform: {{ block.settings.menu_link_label_text_transform }};
    font-weight: {{ block.settings.menu_link_label_font-weight }};
    border-radius: {{ block.settings.menu_link_label_border_radius }}px;
    line-height: {{ block.settings.menu_link_label_line_height }};
  }
  a.link-title span.sp-link-title span.{{ section.id }}-{{ block.id }}-label::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid {{ block.settings.menu_link_label_bgcolor }};
  }
  @media (max-width: 1199px) {
    a.link-title span.sp-link-title span.{{ section.id }}-{{ block.id }}-label {
      top: -8px;
    }
  }
</style>
