<div class="product-info">
  {% comment %}
    Renders product variant-picker

    Accepts:
    - product: {Object} product object.
    - block: {Object} passing the block information.
    - product_form_id: {String} Id of the product form to which the variant picker is associated.
    - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
    Usage:
    {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
  {% endcomment %}
  {%- unless product.has_only_default_variant -%}
  {%- if block.settings.picker_type == 'button' -%}
    <pr-option
      id="variant-radios-{{ section.id }}"
      class="pr-option"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      {% if update_url == false %}
        data-update-url="false"
      {% endif %}
      {{ block.shopify_attributes }}
    >
      {%- for option in product.options_with_values -%}
        {%- liquid
          assign swatch_count = option.values | map: 'swatch' | compact | size
          assign picker_type = block.settings.picker_type

          if swatch_count > 0 and block.settings.swatch_shape != 'none'
            if block.settings.picker_type == 'dropdown'
              assign picker_type = 'swatch_dropdown'
            else
              assign picker_type = 'swatch'
            endif
          endif
        -%}
        {%- if picker_type == 'swatch' -%}
          <varitem class="js variant-option-block product-form__input product-form__input--swatch">
            <h6 class="option-title">
              <span>{{ option.name }}:</span>
              <span class="current-option">{{ option.selected_value }}</span>
            </h6>
            <div class="option-block">
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type
              %}
            </div>
          </varitem>
        {%- elsif picker_type == 'button' -%}
          <varitem class="js variant-option-block product-form__input product-form__input--pill">
            <h6 class="option-title">
              <span>{{ option.name }}:</span>
              <span class="current-option">{{ option.selected_value }}</span>
            </h6>
            <div class="option-block">
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type
              %}
            </div>
          </varitem>
        {%- endif -%}
      {%- endfor -%}
      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </pr-option>
    {% else %}
    <selects-box
    id="variant-selects-{{ section.id }}"
    class="pr-option"
    data-section="{{ section.id }}"
    data-url="{{ product.url }}"
    {% if update_url == false %}
      data-update-url="false"
    {% endif %}
    {{ block.shopify_attributes }}>
    {%- for option in product.options_with_values -%}
    <div class="variant-option-block ">
      <h6 class="option-title" for="Option-{{ section.id }}-{{ forloop.index0 }}">
        {{ option.name }}:
        <span class="current-option" id="current-option{{ forloop.index0 }}">{{ option.selected_value }}</span>
      </h6>
        <div class="option-block">
          <select
            id="Option-{{ section.id }}-{{ forloop.index0 }}"
          class="select__select"
          name="options[{{ option.name | escape }}]"
          form="{{ product_form_id }}"
          onchange="Option{{ forloop.index0 }}()"
          >
            {% render 'product-variant-options',
              product: product,
              option: option,
              block: block,
              picker_type: picker_type
            %}
          </select>
        </div>
      </div>
      <script type="text/javascript">
        function Option{{ forloop.index0 }}() {
          var newColor = document.getElementById('Option-{{ section.id }}-{{ forloop.index0 }}').value;
          document.getElementById("current-option{{ forloop.index0 }}").innerHTML = newColor;
        }
      </script>
      {%- endfor -%}
      <script type="application/json">
      {{ product.variants | json }}
    </script>
    </selects-box>
    {% endif %}
  {%- endunless -%}
  <noscript class="pro-form-noscript-{{ section.id }}">
    <div class="variant-option-block {% if product.has_only_default_variant %} hidden{% endif %}">
      <h6 class="option-title" for="Variants-{{ section.id }}">
        {{- 'products.product.product_variants' | t -}}
      </h6>
      <div class="option-block">
        <select
          name="id"
          id="Variants-{{ section.id }}"
          class="select__select"
          form="{{ product_form_id }}">
          {%- for variant in product.variants -%}
            <option
              {% if variant == product.selected_or_first_available_variant %}
                selected="selected"
              {% endif %}
              {% if variant.available == false %}
                disabled
              {% endif %}
              value="{{ variant.id }}">
              {%- liquid
                echo variant.title
                echo variant.price | money | strip_html | prepend: ' - '
                if variant.available == false
                  echo 'products.product.sold_out' | t | prepend: ' - '
                endif
                if variant.quantity_rule.increment > 1
                  echo 'products.product.quantity.multiples_of' | t: quantity: variant.quantity_rule.increment | prepend: ' - '
                endif
                if variant.quantity_rule.min > 1
                  echo 'products.product.quantity.minimum_of' | t: quantity: variant.quantity_rule.min | prepend: ' - '
                endif
                if variant.quantity_rule.max != null
                  echo 'products.product.quantity.maximum_of' | t: quantity: variant.quantity_rule.max | prepend: ' - '
                endif
                assign cart_quantity = cart | item_count_for_variant: variant.id
                if cart_quantity > 0
                  echo 'products.product.quantity.in_cart_html' | t: quantity: cart_quantity | prepend: ' - '
                endif
              -%}
            </option>
          {%- endfor -%}
        </select>
      </div>
    </div>
  </noscript>
</div>