<div class="product-info" {{ block.shopify_attributes }}>
  <div class="form-group">
    {%- if settings.wishlist_enable -%}
    <div class="grid-wrapper">
        {% render 'wishlist-5', product: product %}
    </div>
    {%- endif -%}
    {% if block.settings.size_modal_enable %}
      <div class="grid-wrapper">
        <button type="button" data-bs-target="#size-modal" class="form-btn modal-button" data-bs-toggle="modal" role="button" aria-label="{{ block.settings.size_title }}">
          <i class="feather-file-text"></i>
          <span class="icon-text">{{ block.settings.size_title }}</span>
        </button>
      </div>
    {% endif %}
    {% if block.settings.question_modal_enable %}
      <div class="grid-wrapper">
        <button type="button" data-bs-target="#que-modal" class="form-btn modal-button" data-bs-toggle="modal" role="button" aria-label="{{ block.settings.que_title }}">
          <i class="feather-edit"></i>
          <span class="icon-text">{{ block.settings.que_title }}</span>
        </button>
      </div>
    {% endif %}
    {% if block.settings.share_modal_enable %}
      <div class="grid-wrapper">
        <button type="button" data-bs-target="#share-modal" class="form-btn modal-button" data-bs-toggle="modal" role="button" aria-label="{{ block.settings.share_title }}">
          <i class="feather-share-2"></i>
          <span class="icon-text">{{ block.settings.share_title }}</span>
        </button>
      </div>
    {% endif %}
  </div>
</div>
