{{ '404-template.css' | asset_url | stylesheet_tag }}
<section class="page-not-found section-ptb">
  <div class="{% if section.settings.container == 'fluid' %}container-fluid {% else %}container{% endif %}">
    <div class="search-error-wrapper">
      <div class="section-img">
        {%- if section.settings.section_img != blank -%}
          {{
            section.settings.section_img
            | image_url: width: 1920
            | image_tag:
              loading: 'lazy',
              width: section.settings.section_img.width,
              height: section.settings.section_img.height,
              class: 'lazyload desk-img',
              loading: 'lazy'
          }}
        {%- else -%}
          {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg desk-img' }}
        {%- endif -%}
      </div>
      <div class="home-btn">
        <div class="home-content">
          <h2 class="m-0" data-fade-in>{{ section.settings.section_title_bold }}</h2>
          <span data-fade-in>{{ section.settings.section_title }}</span>
          {% if settings.button_title != '' %}
            <a data-fade-in href="{{ section.settings.home_button_url }}" class="btn btn-style">
              {{ section.settings.home_button }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Page not found",
  "settings": [
    {
      "type": "header",
      "content": "Section width"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Width",
      "options": [
        {
          "label": "Fluid",
          "value": "fluid"
        },
        {
          "label": "Normal",
          "value": "normal"
        }
      ],
      "default": "normal"
    },
    {
      "type": "text",
      "id": "section_title_bold",
      "label": "Heading",
      "default": "404"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Heading",
      "default": "Page not found!"
    },
    {
      "type": "image_picker",
      "id": "section_img",
      "label": "Image",
      "info": "Recommended size: 660x350px"
    },
    {
      "type": "text",
      "id": "home_button",
      "label": "Button",
      "default": "Continue shopping"
    },
    {
      "type": "url",
      "id": "home_button_url",
      "label": "Button url"
    }
  ]
}
{% endschema %}
