{{ 'about-us-banner.css' | asset_url | stylesheet_tag }}
<section
  class="about-section1"
  style="--padding-top: {{ section.settings.section_padding_top }}px; --padding-bottom: {{ section.settings.section_padding_bottom }}px; --padding-top-ipad: {{ section.settings.section_padding_top_ipad }}px; --padding-bottom-ipad: {{ section.settings.section_padding_bottom_ipad }}px; --padding-top-xs: {{ section.settings.section_padding_top_xs }}px; --padding-bottom-xs: {{ section.settings.section_padding_bottom_xs }}px; --background-color: {{ section.settings.section_background_color }};"
>
  <div class="{% if section.settings.container == 'fluid' %}container-fluid {% else %}container{% endif %}">
    <div class="about-content">
      {% if section.settings.section_subheading != '' or section.settings.section_heading != '' %}
        <div class="section-capture">
          <div class="section-title">
            {% if section.settings.section_subheading != '' %}
              <span data-fade-in class="sub-title">{{ section.settings.section_subheading }}</span>
            {% endif %}
            {% if section.settings.section_heading != '' %}
              <h2 class="mr-0" data-fade-in>{{ section.settings.section_heading }}</h2>
            {% endif %}
          </div>
        </div>
      {% endif %}
      <div class="about-banner">
        <div
          class="about-banner-area"
          style="--padding-top: {{ section.settings.section_padding_top }}px; --padding-top-xs: {{ section.settings.section_padding_top_xs }}px;"
        >
          <a href="{{ section.settings.banner_url }}" class="banner-hover">
            {%- if section.settings.about_company_img != blank -%}
              {% assign image_height = section.settings.about_company_img.width
                | divided_by: section.settings.about_company_img.aspect_ratio
              %}
              {{
                section.settings.about_company_img
                | image_url: width: 2000
                | image_tag:
                  width: section.settings.about_company_img.width,
                  height: image_height,
                  class: 'lazyload',
                  loading: 'lazy'
              }}
            {%- else -%}
              {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg w-100 h-100' }}
            {%- endif -%}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "About us banner",
  "settings": [
    {
      "type": "header",
      "content": "Section width"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Section width",
      "options": [
        {
          "label": "Fluid",
          "value": "fluid"
        },
        {
          "label": "Normal",
          "value": "normal"
        }
      ],
      "default": "normal"
    },
    {
      "type": "header",
      "content": "Section space top bottom"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad"
    },
    {
      "type": "range",
      "id": "section_padding_top_ipad",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "section_padding_bottom_ipad",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section background color"
    },
    {
      "type": "color",
      "id": "section_background_color",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Section heading"
    },
    {
      "type": "text",
      "id": "section_subheading",
      "label": "Subheading",
      "default": "subheading"
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Heading",
      "default": "heading"
    },
    {
      "type": "image_picker",
      "id": "about_company_img",
      "label": "Image",
      "info": "Recommended size: 1400x640px"
    },
    {
      "type": "url",
      "id": "banner_url",
      "label": "Url"
    }
  ],
  "presets": [
    {
      "name": "About us banner"
    }
  ]
}
{% endschema %}
