{{ 'about-us-multicolumn.css' | asset_url | stylesheet_tag }}
<section
  class="multicolumn"
  style="--padding-top: {{ section.settings.section_padding_top }}px; --padding-bottom: {{ section.settings.section_padding_bottom }}px; --padding-top-ipad: {{ section.settings.section_padding_top_ipad }}px; --padding-bottom-ipad: {{ section.settings.section_padding_bottom_ipad }}px; --padding-top-xs: {{ section.settings.section_padding_top_xs }}px; --padding-bottom-xs: {{ section.settings.section_padding_bottom_xs }}px;"
>
  <div class="{% if section.settings.container == 'fluid' %}container-fluid {% else %}container{% endif %}">
    <ul class="list-unstyled about-service-wrap">
      {% for block in section.blocks %}
        <li class="about-service-wrapper" {{ block.shopify_attributes }}>
          <div class="service-block">
            <div class="service-text">
              {% if block.settings.service_title != '' %}
                <h6 class="mr-0" data-fade-in>{{ block.settings.service_title }}</h6>
              {% endif %}
              {% if block.settings.service_desc != '' %}
                <p class="mr-0" data-fade-in>{{ block.settings.service_desc }}</p>
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% schema %}
{
  "name": "About us multicolumn",
  "settings": [
    {
      "type": "header",
      "content": "Section width"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Section width",
      "options": [
        {
          "label": "Fluid",
          "value": "fluid"
        },
        {
          "label": "Normal",
          "value": "normal"
        }
      ],
      "default": "normal"
    },
    {
      "type": "header",
      "content": "Section space top bottom"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad"
    },
    {
      "type": "range",
      "id": "section_padding_top_ipad",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "section_padding_bottom_ipad",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "about_service",
      "name": "Icon column",
      "settings": [
        {
          "type": "text",
          "id": "service_title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "text",
          "id": "service_desc",
          "label": "Service description",
          "default": "The customer's perception is your reality. Your most unhappy customers are your greatest source of learning"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About us multicolumn",
      "blocks": [
        {
          "type": "about_service"
        },
        {
          "type": "about_service"
        },
        {
          "type": "about_service"
        }
      ]
    }
  ]
}
{% endschema %}
