{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}
<section
  class="top-bar"
  style="--background-color: {{ section.settings.notification_bg_color }}; --color: {{ section.settings.notification_txt_color }};"
>
  <div class="{% if section.settings.container == 'fluid' %}container-fluid {% else %}container{% endif %} top-bar-inner">
    <div class="top-bar-left">
      {%- if section.settings.service_desc1 != blank -%}
        <a href="{{ section.settings.icon_url1 }}" class="top-bar-link">
          {%- if section.settings.text_icon1 != blank -%}
            <span class="top-bar-icon">{{ section.settings.text_icon1 }}</span>
          {%- endif -%}
          <span>{{ section.settings.service_desc1 }}</span>
        </a>
      {%- endif -%}
    </div>
    <div class="top-bar-divider"></div>
    <div class="top-bar-right">
      {%- if section.settings.service_desc2 != blank -%}
        <a href="{{ section.settings.icon_url2 }}" class="top-bar-link">
          {%- if section.settings.text_icon2 != blank -%}
            <span class="top-bar-icon">{{ section.settings.text_icon2 }}</span>
          {%- endif -%}
          <span>
            {{- section.settings.service_desc2 -}}
            {%- if section.settings.shipping_threshold != blank -%}
              {{ localization.country.currency.symbol }}{{ section.settings.shipping_threshold }}
            {%- endif -%}
          </span>
        </a>
      {%- endif -%}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "header",
      "content": "Section width"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Section width",
      "options": [
        {
          "label": "Fluid",
          "value": "fluid"
        },
        {
          "label": "Normal",
          "value": "normal"
        }
      ],
      "default": "fluid"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "notification_bg_color",
      "label": "Background color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "notification_txt_color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Left side"
    },
    {
      "type": "textarea",
      "id": "text_icon1",
      "label": "Icon (HTML)",
      "info": "https://feathericons.com"
    },
    {
      "type": "url",
      "id": "icon_url1",
      "label": "Link URL"
    },
    {
      "type": "text",
      "id": "service_desc1",
      "label": "Text",
      "default": "Summer Escape"
    },
    {
      "type": "header",
      "content": "Right side"
    },
    {
      "type": "textarea",
      "id": "text_icon2",
      "label": "Icon (HTML)",
      "info": "https://feathericons.com"
    },
    {
      "type": "url",
      "id": "icon_url2",
      "label": "Link URL"
    },
    {
      "type": "text",
      "id": "service_desc2",
      "label": "Text (prefix)",
      "default": "FREE SHIPPING "
    },
    {
      "type": "text",
      "id": "shipping_threshold",
      "label": "Shipping threshold amount",
      "info": "Currency symbol is added automatically. E.g. enter 99.00+ to show $99.00+",
      "default": "99.00+"
    }
  ],
  "presets": [
    {
      "name": "Announcement bar"
    }
  ]
}
{% endschema %}
