{{ 'collection.css' | asset_url | stylesheet_tag }}
<div
  class="main-content-wrap shop-page section-ptb"
  style="--background-color: {{ section.settings.section_background_color }};"
>
  <div class="{% if section.settings.container == 'fluid' %}container-fluid {% else %}container{% endif %}">
    <div class="pro-grli-wrapper{% if section.settings.sidebar_handle == 'left_sidebar_handle' %} left-side-wrap{% elsif section.settings.sidebar_handle == 'right_sidebar_handle' %} right-side-wrap{% else %} full-side-wrap{% endif %}">
      <div class="pro-grli-wrap product-grid">
        {%- if section.settings.tab_bar_enable or section.settings.short_by_enable -%}
          {%- render 'collection-sorting', results: collection -%}
        {%- endif -%}
        <div class="get-data-products">
          <div id="ProductGridContainer">
            {%- assign products_limit = section.settings.products_limit_handle -%}
            {%- paginate collection.products by products_limit -%}
              {%- if collection.products.size > 0 -%}
                <div class="shop-product-wrap grid-3 collection">
                  <ul class="list-unstyled product-view {{ section.settings.product_view }} {{ section.settings.product_view_lg }} {{ section.settings.product_view_sm }}" id="product-grid" data-id="{{ section.id }}">
                    {%- for product in collection.products -%}
                      <li class="st-col-item">
                        {%- render 'product-grid-item', product: product -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
                {% if paginate.pages > 1 %}
                  <div class="paginatoin-area">
                    {%- render 'pagination', paginate: paginate -%}
                  </div>
                {% endif %}
              {%- else -%}
                <div class="empty-product collection" id="product-grid" data-id="{{ section.id }}">
                  <div class="product-icon-title">
                    <h2 class="mr-0">{{ 'collections.general.empty_product_title' | t }}</h2>
                  </div>
                  <div class="product-desc">
                    <flt-clear>
                      <p class="mr-0 text-danger">
                        {{ 'collections.general.empty_product_desc' | t | append: ',' }}
                        {{ 'collections.general.empty_product_use_fewer_filters' | t }}
                        {{ 'collections.general.empty_product_text_or' | t }}
                        <a href="{{ collection.url }}" class="product-link">
                          {{- 'collections.general.empty_product_html_link' | t | append: '.' -}}
                        </a>
                      </p>
                    </flt-clear>
                  </div>
                </div>
              {%- endif -%}
            {%- endpaginate -%}
          </div>
        </div>
      </div>
      <div class="pro-grli-wrap product-sidebar{% if section.settings.sidebar_handle == 'without_sidebar' %} product-without-sidebar{% endif %}">
        <div id="main-collection-filters" data-id="{{ section.id }}">
          {% render 'collection-sidebar', results: collection %}
          <script src="{{ 'collection-sidebar.js' | asset_url }}" defer="defer"></script>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Product grid",
  "settings": [
    {
      "type": "header",
      "content": "Section width"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Section width",
      "options": [
        {
          "label": "Fluid",
          "value": "fluid"
        },
        {
          "label": "Normal",
          "value": "normal"
        }
      ],
      "default": "normal"
    },
    {
      "type": "header",
      "content": "Section background color"
    },
    {
      "type": "color",
      "id": "section_background_color",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Product options"
    },
    {
      "type": "number",
      "id": "products_limit_handle",
      "label": "Product limit",
      "default": 20,
      "info": "How many posts will appear on each page"
    },
    {
      "type": "select",
      "id": "product_view",
      "label": "Grid view desktop",
      "options": [
        {
          "label": "2 grid",
          "value": "grid-2"
        },
        {
          "label": "3 grid",
          "value": "grid-3"
        },
        {
          "label": "4 grid",
          "value": "grid-4"
        },
        {
          "label": "5 grid",
          "value": "grid-5"
        },
        {
          "label": "6 grid",
          "value": "grid-6"
        }
      ],
      "default": "grid-3"
    },
    {
      "type": "select",
      "id": "product_view_lg",
      "label": "Grid view ipad",
      "options": [
        {
          "label": "2 grid",
          "value": "grid-lg-2"
        },
        {
          "label": "3 grid",
          "value": "grid-lg-3"
        },
        {
          "label": "4 grid",
          "value": "grid-lg-4"
        }
      ],
      "default": "grid-lg-4"
    },
    {
      "type": "select",
      "id": "product_view_sm",
      "label": "Grid view mobile",
      "options": [
        {
          "label": "1 grid",
          "value": "grid-sm-1"
        },
        {
          "label": "2 grid",
          "value": "grid-sm-2"
        }
      ],
      "default": "grid-sm-2"
    },
    {
      "type": "header",
      "content": "Collection information"
    },
    {
      "type": "image_picker",
      "id": "collection_image",
      "label": "Image",
      "info": "Recommended size: 1410x365px"
    },
    {
      "type": "checkbox",
      "id": "collection_image_enable",
      "label": "Show image",
      "default": true
    },
    {
      "type": "textarea",
      "id": "collection_desc",
      "label": "Description",
      "default": "Care for fiber: 30% more recycled polyester. We label garments manufactured using environmentally friendly technologies and raw materials with the Join Life label."
    },
    {
      "type": "checkbox",
      "id": "collection_desc_enable",
      "label": "Show description",
      "default": false
    },
    {
      "type": "header",
      "content": "Sorting"
    },
    {
      "type": "checkbox",
      "id": "tab_bar_enable",
      "label": "Show grid/list view",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "short_by_enable",
      "label": "Show short by",
      "default": true
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "radio",
      "id": "sidebar_handle",
      "label": "Sidebar position",
      "options": [
        {
          "label": "Left",
          "value": "left_sidebar_handle"
        },
        {
          "label": "Right",
          "value": "right_sidebar_handle"
        },
        {
          "label": "Without",
          "value": "without_sidebar"
        }
      ],
      "default": "left_sidebar_handle"
    },
    {
      "type": "header",
      "content": "Sidebar collection"
    },
    {
      "type": "text",
      "id": "collection_categories_title",
      "label": "Heading",
      "default": "Categories"
    },
    {
      "type": "checkbox",
      "id": "collection_categories_enable",
      "label": "Show collection",
      "default": false
    },
  ]
}
{% endschema %}
<style>
  .shop-page {
    background-color: var(--background-color);
  }
</style>
