{{ 'collection.css' | asset_url | stylesheet_tag }}
<div
  class="main-content-wrap shop-page section-ptb"
  style="--background-color: {{ section.settings.section_background_color }};"
>
  <div class="pro-grli-wrapper full-side-wrap">
    <div class="pro-grli-wrap product-grid" style="width:100%;">
        {%- if section.settings.tab_bar_enable or section.settings.short_by_enable or true -%}
          {%- render 'collection-sorting', results: collection -%}
        {%- endif -%}
        <div class="get-data-products">
          <div id="ProductGridContainer">
            {%- paginate collection.products by 250 -%}
              {%- if collection.products.size > 0 -%}
                <div class="shop-product-wrap grid-3 collection">
                  <ul
                    class="list-unstyled product-view {{ section.settings.product_view }} {{ section.settings.product_view_lg }} {{ section.settings.product_view_sm }}"
                    id="product-grid"
                    data-id="{{ section.id }}"
                  >
                    {%- for product in collection.products -%}
                      <li class="st-col-item">
                        {%- render 'product-grid-item', product: product -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              {%- else -%}
                <div class="empty-product collection" id="product-grid" data-id="{{ section.id }}">
                  <div class="product-icon-title">
                    <h2 class="mr-0">{{ 'collections.general.empty_product_title' | t }}</h2>
                  </div>
                  <div class="product-desc">
                    <flt-clear>
                      <p class="mr-0 text-danger">
                        {{ 'collections.general.empty_product_desc' | t | append: ',' }}
                        {{ 'collections.general.empty_product_use_fewer_filters' | t }}
                        {{ 'collections.general.empty_product_text_or' | t }}
                        <a href="{{ collection.url }}" class="product-link">
                          {{- 'collections.general.empty_product_html_link' | t | append: '.' -}}
                        </a>
                      </p>
                    </flt-clear>
                  </div>
                </div>
              {%- endif -%}
            {%- endpaginate -%}
          </div>
        </div>
    </div>
  </div>
</div>
<div id="main-collection-filters" data-id="{{ section.id }}" style="display:none;"></div>
<script src="{{ 'collection-sidebar.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Product grid",
  "settings": [
    {
      "type": "header",
      "content": "Section width"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Section width",
      "options": [
        { "label": "Fluid", "value": "fluid" },
        { "label": "Normal", "value": "normal" }
      ],
      "default": "normal"
    },
    {
      "type": "header",
      "content": "Section background color"
    },
    {
      "type": "color",
      "id": "section_background_color",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Grid"
    },
    {
      "type": "select",
      "id": "product_view",
      "label": "Grid view desktop",
      "options": [
        { "label": "2 grid", "value": "grid-2" },
        { "label": "3 grid", "value": "grid-3" },
        { "label": "4 grid", "value": "grid-4" },
        { "label": "5 grid", "value": "grid-5" },
        { "label": "6 grid", "value": "grid-6" }
      ],
      "default": "grid-4"
    },
    {
      "type": "select",
      "id": "product_view_lg",
      "label": "Grid view tablet",
      "options": [
        { "label": "2 grid", "value": "grid-lg-2" },
        { "label": "3 grid", "value": "grid-lg-3" },
        { "label": "4 grid", "value": "grid-lg-4" }
      ],
      "default": "grid-lg-3"
    },
    {
      "type": "select",
      "id": "product_view_sm",
      "label": "Grid view mobile",
      "options": [
        { "label": "1 grid", "value": "grid-sm-1" },
        { "label": "2 grid", "value": "grid-sm-2" }
      ],
      "default": "grid-sm-2"
    },
    {
      "type": "header",
      "content": "Sorting bar"
    },
    {
      "type": "checkbox",
      "id": "tab_bar_enable",
      "label": "Show grid/list toggle",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "short_by_enable",
      "label": "Show sort by",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Product grid"
    }
  ]
}
{% endschema %}
<style>
  .shop-page {
    background-color: var(--background-color);
  }
</style>
