{{ 'collection-list.css' | asset_url | stylesheet_tag }}
<section
  class="collection-list"
  style="--padding-top: {{ section.settings.section_padding_top }}px; --padding-bottom: {{ section.settings.section_padding_bottom }}px; --padding-top-ipad: {{ section.settings.section_padding_top_ipad }}px; --padding-bottom-ipad: {{ section.settings.section_padding_bottom_ipad }}px; --padding-top-xs: {{ section.settings.section_padding_top_xs }}px; --padding-bottom-xs: {{ section.settings.section_padding_bottom_xs }}px;--background-color: {{ section.settings.section_bg_color }};"
>
  <div class="{% if section.settings.container == 'fluid' %}container-fluid {% else %}container{% endif %}">
    {% if section.settings.section_subheading != '' or section.settings.section_heading != '' %}
      <div class="section-capture">
        <div class="section-title">
          {% if section.settings.section_heading != '' %}
            <h2 class="mr-0" data-fade-in>{{ section.settings.section_heading }}</h2>
          {% endif %}
          {% if section.settings.section_subheading != '' %}
            <span data-fade-in class="sub-title">{{ section.settings.section_subheading }}</span>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="grid-wrap">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'slider_cat' %}
            {% assign category_product = collections[block.settings.slider_category_handle] %}
            <div class="grid-wrapper" {{ block.shopify_attributes }}>
              <div class="cat-block">
                <a href="{{ category_product.url }}">
                  <div class="cat-img">
                    {%- if block.settings.cat_img != blank -%}
                      {{
                        block.settings.cat_img
                        | image_url: width: 512
                        | image_tag:
                          loading: 'lazy',
                          width: block.settings.cat_img.width,
                          height: block.settings.cat_img.height,
                          class: 'lazyload desk-img',
                          alt: block.settings.cat_img.alt
                        | escape
                      }}
                    {%- elsif category_product.image != blank -%}
                      {{
                        category_product.image
                        | image_url: width: 512
                        | image_tag:
                          loading: 'lazy',
                          width: category_product.image.width,
                          height: category_product.image.height,
                          class: 'lazyload desk-img',
                          alt: category_product.image.alt | default: category_product.title
                        | escape
                      }}
                    {%- else -%}
                      {%- capture placeholder -%}product-apparel-{% cycle 1, 2, 3, 4 %}{%- endcapture -%}
                      {{ placeholder | placeholder_svg_tag: 'placeholder-svg w-100 h-100' }}
                    {%- endif -%}
                  </div>
                  {%- if section.settings.cat_button != '' -%}
                  <button>
                    {{ section.settings.cat_button }}
                  </button>
                  {%- endif -%}
                  <div class="text-block">
                    <h6 class="cat-title mr-0" data-fade-in>{{ block.settings.cat_custom_title | default: category_product.title | default: 'Collection' }}</h6>
                    {%- if block.settings.cat_description != blank -%}
                      <p class="cat-description" data-fade-in>{{ block.settings.cat_description }}</p>
                    {%- endif -%}
                  </div>
                </a>
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Collection list",
  "settings": [
    {
      "type": "header",
      "content": "Section width"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Section width",
      "options": [
        {
          "label": "Fluid",
          "value": "fluid"
        },
        {
          "label": "Normal",
          "value": "normal"
        }
      ],
      "default": "fluid"
    },
    {
      "type": "header",
      "content": "Section space top bottom"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad"
    },
    {
      "type": "range",
      "id": "section_padding_top_ipad",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "section_padding_bottom_ipad",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section background color"
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Section heading"
    },
    {
      "type": "text",
      "id": "section_subheading",
      "label": "Subheading",
      "default": "subheading"
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Heading",
      "default": "heading"
    },
    {
      "type": "checkbox",
      "id": "cat_item",
      "label": "Show items heading",
      "default": true
    },
    {
      "type": "text",
      "id": "item_title",
      "label": "Product heading",
      "default": "Product"
    },
    {
      "type": "text",
      "id": "cat_button",
      "label": "Shop button",
      "default": "Shop now"
    },
    {
      "type": "color",
      "id": "hover_bg",
      "label": "Hover background coloe",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "type": "slider_cat",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "slider_category_handle",
          "label": "Select collection"
        },
        {
          "type": "image_picker",
          "id": "cat_img",
          "label": "Image",
          "info": "Recommended size: 400x480px"
        },
        {
          "type": "text",
          "id": "cat_custom_title",
          "label": "Custom title (overrides collection name)"
        },
        {
          "type": "textarea",
          "id": "cat_description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection list",
      "blocks": [
        {
          "type": "slider_cat"
        },
        {
          "type": "slider_cat"
        },
        {
          "type": "slider_cat"
        },
        {
          "type": "slider_cat"
        }
      ]
    }
  ]
}
{% endschema %}
<style>
  .collection-list .cat-block .text-block:before {
    background-image: url('{{ 'cat-pattern.png' | asset_url }}');
  }
  .collection-list .cat-block a:before {
    background-color: {{ section.settings.hover_bg }};
  }
  .collection-list .cat-block a button:before {
    background-image: url('{{ 'cat-btn.png' | asset_url }}');
  }
</style>