<section
  class="form-contact"
  style="--padding-top: {{ section.settings.section_padding_top }}px; --padding-bottom: {{ section.settings.section_padding_bottom }}px; --padding-top-ipad: {{ section.settings.section_padding_top_ipad }}px; --padding-bottom-ipad: {{ section.settings.section_padding_bottom_ipad }}px; --padding-top-xs: {{ section.settings.section_padding_top_xs }}px; --padding-bottom-xs: {{ section.settings.section_padding_bottom_xs }}px; --background-color: {{ section.settings.section_background_color }};"
>
  <div class="{% if section.settings.container == 'fluid' %}container-fluid {% else %}container{% endif %}">
    {% if section.settings.section_subheading != '' or section.settings.section_heading != '' %}
      <div class="section-capture">
        <div class="section-title">
          {% if section.settings.section_subheading != '' %}
            <span data-fade-in class="sub-title">{{ section.settings.section_subheading }}</span>
          {% endif %}
          {% if section.settings.section_heading != '' %}
            <h2 class="mr-0" data-fade-in>{{ section.settings.section_heading }}</h2>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="form-warp contact-detail">
      <div class="form-contact-list">
        {% render 'contact-form' %}
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Contact form",
  "settings": [
    {
      "type": "header",
      "content": "Section width"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Section width",
      "options": [
        {
          "label": "Fluid",
          "value": "fluid"
        },
        {
          "label": "Normal",
          "value": "normal"
        }
      ],
      "default": "normal"
    },
    {
      "type": "header",
      "content": "Section space top bottom"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad"
    },
    {
      "type": "range",
      "id": "section_padding_top_ipad",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "section_padding_bottom_ipad",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section background color"
    },
    {
      "type": "color",
      "id": "section_background_color",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Section heading"
    },
    {
      "type": "text",
      "id": "section_subheading",
      "label": "Subheading",
      "default": "subheading"
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Heading",
      "default": "heading"
    },
    {
      "type": "header",
      "content": "Form content"
    },
    {
      "type": "text",
      "id": "name_placeholder",
      "label": "Name placeholder",
      "default": "Your full name"
    },
    {
      "type": "text",
      "id": "email_placeholder",
      "label": "Email placeholder",
      "default": "Your email address"
    },
    {
      "type": "text",
      "id": "phone_placeholder",
      "label": "Phone placeholder",
      "default": "Your mobile number"
    },
    {
      "type": "text",
      "id": "message_placeholder",
      "label": "Message placeholder",
      "default": "Your message here..."
    },
    {
      "type": "text",
      "id": "form_button_name",
      "label": "Button",
      "default": "Send message"
    },
    {
      "type": "text",
      "id": "read_agree_text",
      "label": "Terms text",
      "default": "I accept the terms & conditions and I understand that my data will be hold securely in accordance with the privacy policy."
    }
  ],
  "presets": [
    {
      "name": "Contact form"
    }
  ]
}
{% endschema %}
<style>
  .form-contact {
    background-color: var(--background-color);
  }
</style>
