<section class="contact-section4">
  <div class="{% if section.settings.container == 'fluid' %}container-fluid {% else %}container{% endif %}">
    <div class="row">
      <div class="col">
        <div class="section-capture">
          <div class="section-title">
            {% if section.settings.section_sub_title != '' %}
            <span class="sub-title" data-fade-in>{{ section.settings.section_sub_title }}</span>
            {% endif %}
            {% if section.settings.section_title != '' %}
            <h2 data-fade-in>{{ section.settings.section_title }}</h2>
            {% endif %}
          </div>
        </div>
        <div class="form-warp contact-detail">
          <div class="contact-form-list">
            {% render 'contact-form' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Contact section4",
  "settings": [
    {
      "type": "header",
      "content": "Container"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container",
      "options": [
        {
          "label": "Fluid",
          "value": "fluid"
        },
        {
          "label": "Normal",
          "value": "normal"
        }
      ],
      "default": "normal"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop"
    },
    {
      "type": "range",
      "id": "contact_us_2_padding_top",
      "label": "Section padding top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "contact_us_2_padding_bottom",
      "label": "Section padding bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "contact_us_2_padding_top_ip",
      "label": "Section padding top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "contact_us_2_padding_bottom_ip",
      "label": "Section padding bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "contact_us_2_padding_top_xs",
      "label": "Section padding top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "contact_us_2_padding_bottom_xs",
      "label": "Section padding bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section background color"
    },
    {
      "type": "color",
      "id": "contact_us_2_bgcolor",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "checkbox",
      "id": "contact_us_2_bgcolor_enable",
      "label": "Show backgorund color",
      "default": true
    },
    {
      "type": "header",
      "content": "Section content"
    },
    {
      "type": "text",
      "id": "name_placeholder",
      "label": "Name placeholder",
      "default": "Your full name"
    },
    {
      "type": "text",
      "id": "email_placeholder",
      "label": "Email placeholder",
      "default": "Your email address"
    },
    {
      "type": "text",
      "id": "phone_placeholder",
      "label": "Phone placeholder",
      "default": "Your mobile number"
    },
    {
      "type": "text",
      "id": "message_placeholder",
      "label": "Message placeholder",
      "default": "Your message here..."
    },
    {
      "type": "text",
      "id": "form_button_name",
      "label": "Button name",
      "default": "Send Message"
    },
    {
      "type": "text",
      "id": "read_agree_text",
      "label": "Terms text",
      "default": "I accept the terms & conditions and I understand that my data will be hold securely in accordance with the privacy policy."
    },
    {
      "type": "header",
      "content": "Section content"
    },
    {
      "type": "text",
      "id": "section_sub_title",
      "label": "Section subtitle",
      "default": "Get in touch"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section title",
      "default": "Get in touch"
    }
  ],
  "presets": [
    {
      "name": "Contact section4"
    }
  ]
}
{% endschema %}
<style>
  .contact-section4 {
    padding-top: {{ section.settings.contact_us_2_padding_top }}px;
    padding-bottom: {{ section.settings.contact_us_2_padding_bottom }}px;
    {% if section.settings.contact_us_2_bgcolor_enable %}
    background-color: {{ section.settings.contact_us_2_bgcolor }};
    {% endif %}
  }
  @media (max-width: 1199px) {
    .contact-section4 {
      padding-top: {{ section.settings.contact_us_2_padding_top_ip }}px;
      padding-bottom: {{ section.settings.contact_us_2_padding_bottom_ip }}px;
    }
  }
  @media (max-width: 767px) {
    .contact-section4 {
      padding-top: {{ section.settings.contact_us_2_padding_top_xs }}px;
      padding-bottom: {{ section.settings.contact_us_2_padding_bottom_xs }}px;
    }
  }
</style>