{{ 'customer-reset-password.css' | asset_url | stylesheet_tag }}
<section class="customer-page section-ptb">
  <div class="container">
    <div class="acc-form">
      <div class="log-acc-page">
        <div class="section-capture">
          <div class="section-title">
            <h2 class="mr-0">
              <span>{{ 'customer.reset_password.title' | t }}</span>
            </h2>
            <p class="desc">{{ 'customer.reset_password.subtext' | t }}</p>
          </div>
        </div>
        <div class="acc-page">
          <div class="login">
            <div class="login-form-container">
              {% form 'reset_customer_password' %}
                {{ form.errors | default_errors }}
                <ul class="list-unstyled fill-form">
                  <li class="log-email">
                    <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
                    <input
                      type="password"
                      value=""
                      name="customer[password]"
                      id="ResetPassword"
                      class="input-full{% if form.errors contains 'password' %} error{% endif %}"
                      placeholder="{{ 'customer.reset_password.password' | t }}"
                    >
                  </li>
                  <li class="log-pwd">
                    <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
                    <input
                      type="password"
                      value=""
                      name="customer[password_confirmation]"
                      id="PasswordConfirmation"
                      class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}"
                      placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
                    >
                  </li>
                  <div class="form-action-button">
                    <button
                      type="submit"
                      class="btn btn-style"
                      aria-label="{{ 'customer.reset_password.submit' | t }}"
                    >
                      {{ 'customer.reset_password.submit' | t }}
                    </button>
                  </div>
                </ul>
              {% endform %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Reset password",
  "settings": [
  ]
}
{% endschema %}
