{{ 'icon-rows.css' | asset_url | stylesheet_tag }}
<section
  class="our-service-area"
  style="--padding-top: {{ section.settings.section_padding_top }}px; --padding-bottom: {{ section.settings.section_padding_bottom }}px; --padding-top-ipad: {{ section.settings.section_padding_top_ipad }}px; --padding-bottom-ipad: {{ section.settings.section_padding_bottom_ipad }}px; --padding-top-xs: {{ section.settings.section_padding_top_xs }}px; --padding-bottom-xs: {{ section.settings.section_padding_bottom_xs }}px; --background-color: {{ section.settings.section_background_color }};"
>
  <div class="{% if section.settings.container == 'fluid' %}container-fluid {% else %}container{% endif %}">
    {% if section.settings.section_subheading != '' or section.settings.section_heading != '' %}
      <div class="section-capture">
        <div class="section-title">
          {% if section.settings.section_subheading != '' %}
            <span data-fade-in class="sub-title">{{ section.settings.section_subheading }}</span>
          {% endif %}
          {% if section.settings.section_heading != '' %}
            <h2 class="mr-0" data-fade-in>{{ section.settings.section_heading }}</h2>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <ul class="list-unstyled grid-wrap">
      {% for block in section.blocks %}
        <li class="grid-wrapper" data-fade-in {{ block.shopify_attributes }}>
          <div class="ser-block">
            <a href="{{ block.settings.service_url }}">
              <span class="icon">
                {%- if block.settings.icon_img != blank -%}
                {{
                  block.settings.icon_img
                  | image_url: width: 1024
                  | image_tag:
                    loading: 'lazy',
                    width: block.settings.icon_img.width,
                    height: block.settings.icon_img.height,
                    class: 'lazyload',
                    alt: block.settings.icon_img.alt
                  | escape
                }}
                {%- else -%}
                {{ block.settings.icon }}
                {%- endif -%}
              </span>
              <div class="service-text">
                {% if block.settings.service_title != '' %}
                  <h6 class="mr-0">{{ block.settings.service_title }}</h6>
                {% endif %}
                {% if block.settings.service_desc != '' %}
                  <p class="mr-0">{{ block.settings.service_desc }}</p>
                {% endif %}
              </div>
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% schema %}
{
  "name": "Icon rows",
  "settings": [
    {
      "type": "header",
      "content": "Section width"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Section width",
      "options": [
        {
          "label": "Fluid",
          "value": "fluid"
        },
        {
          "label": "Normal",
          "value": "normal"
        }
      ],
      "default": "fluid"
    },
    {
      "type": "header",
      "content": "Section space top bottom"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad"
    },
    {
      "type": "range",
      "id": "section_padding_top_ipad",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "section_padding_bottom_ipad",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section background color"
    },
    {
      "type": "color",
      "id": "section_background_color",
      "label": "Background color",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Section heading"
    },
    {
      "type": "text",
      "id": "section_subheading",
      "label": "Subheading",
      "default": "subheading"
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Heading",
      "default": "heading"
    }
  ],
  "blocks": [
    {
      "type": "our_services",
      "name": "Row",
      "settings": [
        {
          "type": "paragraph",
          "content": "For icon"
        },
        {
          "type": "image_picker",
          "id": "icon_img",
          "label": "Icon image",
          "info": "Recommended size: 500x500px"
        },
        {
          "type": "textarea",
          "id": "icon",
          "label": "Icon",
          "info": "[More icon](https:\/\/dropways.github.io\/feathericons\/)",
          "default": "<i class='feather-map-pin'></i>"
        },
        {
          "type": "url",
          "id": "service_url",
          "label": "url"
        },
        {
          "type": "text",
          "id": "service_title",
          "label": "Subheading",
          "default": "Subheading"
        },
        {
          "type": "text",
          "id": "service_desc",
          "label": "Description",
          "default": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon rows",
      "blocks": [
        {
          "type": "our_services"
        },
        {
          "type": "our_services"
        },
        {
          "type": "our_services"
        },
        {
          "type": "our_services"
        }
      ]
    }
  ]
}
{% endschema %}
