{{ 'password-content.css' | asset_url | stylesheet_tag }}
<div class="password-content section-ptb">
  {% unless shop.password_message == ' ' %}
    <div class="password-message">
      {{ shop.password_message }}
    </div>
  {% endunless %}
  {% if section.settings.newsletter_enable %}
    <div class="password-newsletter">
      <div class="password-email">
        {% if section.settings.newsletter_form_heading != ' ' %}
          <p class="mr-0">{{ section.settings.newsletter_form_heading }}</p>
        {% endif %}
        {% if section.settings.newsletter_form_subheading != ' ' %}
          <p class="mr-0">{{ section.settings.newsletter_form_subheading }}</p>
        {% endif %}
      </div>
      {% form 'customer', id: 'ContactPassword', class: 'contact-form form-single-field' %}
        {%- assign form_id = 'PasswordNewsletterForm' -%}
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <label for="{{ form_id }}-email">{{ 'general.password_page.signup_form_email_label' | t }}</label>
        {%- if form.posted_successfully? -%}
          <p class="mr-0 form-message form-message--success text-success" tabindex="-1" data-form-status>
            {{ 'general.password_page.signup_form_success' | t }}
          </p>
        {%- endif -%}
        {%- if form.errors contains 'email' -%}
          <p id="{{ form_id }}-email-error" class="mr-0 input-error-message text-danger">
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
            <span class="visually-blank">
              {{- form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}.</span
            >
          </p>
        {%- endif -%}
        <div class="input-group{% if form.errors %} input-group--error{% endif %}">
          <input
            type="email"
            name="contact[email]"
            id="{{ form_id }}-email"
            class="input-group__field {% if form.errors contains 'email' %} input--error{% endif %}"
            placeholder="{{ section.settings.newsletter_placeholder | escape }}"
            {% if form.errors contains 'email' %}
              aria-invalid="true" aria-describedby="{{ form_id }}-email-error" data-form-status
            {% endif %}
            required
          >
          <button
            type="submit"
            name="commit"
            class="btn btn-style news-sub"
            aria-label="{{ section.settings.newsletter_button_text }}"
          >
            {{ section.settings.newsletter_button_text }}
          </button>
        </div>
      {% endform %}
    </div>
  {% endif %}
</div>
{% schema %}
{
  "name": "Password content",
  "settings": [
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "textarea",
      "id": "newsletter_form_heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "textarea",
      "id": "newsletter_form_subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "Input placeholder text",
      "default": "Input placeholder text"
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": "Button label",
      "default": "Button label"
    }
  ]
}
{% endschema %}
