<section
  class="related-product"
  style="--padding-top: {{ section.settings.section_padding_top }}px; --padding-bottom: {{ section.settings.section_padding_bottom }}px;  --padding-top-xs: {{ section.settings.section_padding_top_xs }}px; --padding-bottom-xs: {{ section.settings.section_padding_bottom_xs }}px;"
>
  <div class="{% if section.settings.container == 'fluid' %}container-fluid {% else %}container{% endif %}">
    <div class="product-related">
      {% if section.settings.section_subheading != '' or section.settings.section_heading != '' %}
        <div class="section-capture">
          <div class="section-title">
            {% if section.settings.section_subheading != '' %}
              <span data-fade-in class="sub-title">{{ section.settings.section_subheading }}</span>
            {% endif %}
            {% if section.settings.section_heading != '' %}
              <h2 class="mr-0" data-fade-in>{{ section.settings.section_heading }}</h2>
            {% endif %}
          </div>
        </div>
      {% endif %}
      <relative-pro
        class="related-slider isolate"
        data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}"
      >
          <div
            class="product-related-slider swiper"
            id="related-slider"
            data-slides-per-view="{{ section.settings.product_view }}"
            slide-view="{{ section.settings.product_view }}"
            slide-view-lg="{{ section.settings.product_view_lg }}"
            slide-view-sm="{{ section.settings.product_view_sm }}"
          >
            <div class="swiper-wrapper">
              {% for recommendation in recommendations.products %}
                <div class="swiper-slide">
                  {% render 'product-grid-item', product: recommendation %}
                </div>
              {% endfor %}
            </div>
          </div>
        
      </relative-pro>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Product recommendations",
  "settings": [
    {
      "type": "header",
      "content": "Section width"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Section width",
      "options": [
        {
          "label": "Fluid",
          "value": "fluid"
        },
        {
          "label": "Normal",
          "value": "normal"
        }
      ],
      "default": "normal"
    },
    {
      "type": "header",
      "content": "Section space top bottom"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section background color"
    },
    {
      "type": "color",
      "id": "section_background_color",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Section heading"
    },
    {
      "type": "text",
      "id": "section_subheading",
      "label": "Subheading",
      "default": "subheading"
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Heading",
      "default": "heading"
    },
    {
      "type": "text",
      "id": "products_to_show",
      "label": "Product limit",
      "default": "8"
    },
    {
      "type": "select",
      "id": "product_view",
      "label": "Grid view desktop",
      "options": [
        {
          "label": "3 grid",
          "value": "3"
        },
        {
          "label": "4 grid",
          "value": "4"
        },
        {
          "label": "5 grid",
          "value": "5"
        }
      ],
      "default": "5"
    },
    {
      "type": "select",
      "id": "product_view_lg",
      "label": "Grid view ipad",
      "options": [
        {
          "label": "2 grid",
          "value": "2"
        },
        {
          "label": "3 grid",
          "value": "3"
        },
        {
          "label": "4 grid",
          "value": "4"
        }
      ],
      "default": "3"
    },
    {
      "type": "select",
      "id": "product_view_sm",
      "label": "Grid view mobile",
      "options": [
        {
          "label": "1 grid",
          "value": "1"
        },
        {
          "label": "2 grid",
          "value": "2"
        }
      ],
      "default": "2"
    }
  ]
}
{% endschema %}
<style>
  .related-product {
    background-color: {{ section.settings.section_background_color }};
  }
  .related-product .related-slider .product-related-slider {
    margin: -20px;
    padding: 20px;
  }
  .related-product .related-slider .product-related-slider .countdown-desk {
    display: none;
  }
  @media (max-width: 767px) {
    .related-product .related-slider .product-related-slider {
      margin: 0;
      padding: 0;
    }
  }
</style>