<section class="section-border section-border-{{ section.id }}">
  <div class="{% if section.settings.border_width == 'full' %}container-full{% elsif section.settings.border_width == 'fluid' %}container-fluid{% else %}container{% endif %}">
    <div class="border-"></div>
  </div>
</section>
{% schema %}
{
  "name": "Border",
  "settings": [
    {
      "type": "select",
      "id": "border_width",
      "label": "Border width",
      "options": [
        {
          "label": "full",
          "value": "full"
        },
        {
          "label": "Fluid",
          "value": "fluid"
        },
        {
          "label": "Normal",
          "value": "normal"
        }
      ],
      "default": "full"
    },
    {
      "type": "color",
      "id": "border_bg_color",
      "label": "Border background color",
      "default": "transparent"
    },
    {
      "type": "range",
      "id": "border",
      "label": "Border",
      "min": 1,
      "max": 5,
      "step": 1,
      "unit": "px",
      "default": 1
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Color",
      "default": "#222222"
    },
    {
      "type": "range",
      "id": "border_color_opacity",
      "label": "Color opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.1
    }
  ],
  "presets": [
    {
      "name": "Border"
    }
  ]
}
{% endschema %}
{% style %}
  .section-border-{{ section.id }} {
    background-color: {{ section.settings.border_bg_color }};
  }
  .section-border-{{ section.id }} .border- {
    border-top: {{ section.settings.border }}px solid {{ section.settings.border_color | color_modify: 'alpha', section.settings.border_color_opacity }};
  }
{% endstyle %}
