{{ 'store-location.css' | asset_url | stylesheet_tag }}
<section
  class="store-location"
  style="--padding-top: {{ section.settings.section_padding_top }}px; --padding-bottom: {{ section.settings.section_padding_bottom }}px; --padding-top-ipad: {{ section.settings.section_padding_top_ipad }}px; --padding-bottom-ipad: {{ section.settings.section_padding_bottom_ipad }}px; --padding-top-xs: {{ section.settings.section_padding_top_xs }}px; --padding-bottom-xs: {{ section.settings.section_padding_bottom_xs }}px;"
>
  <div class="{% if section.settings.container == 'fluid' %}container-fluid {% else %}container{% endif %}">
    {% for block in section.blocks %}
      <div class="store-content" {{ block.shopify_attributes }}>
        <div class="contact-content">
          <div class="contact-detail image-warp">
            <a href="{{ block.settings.contact_img_url }}" class="contact-img-wrap banner-hover">
              {%- if block.settings.contact_img != blank -%}
                {{
                  block.settings.contact_img
                  | image_url: width: 1024
                  | image_tag:
                    loading: 'lazy',
                    width: block.settings.contact_img.width,
                    height: block.settings.contact_img.height,
                    class: 'lazyload',
                    alt: block.settings.contact_img.alt
                  | escape
                }}
              {%- else -%}
                {%- capture placeholder -%}product-apparel-{% cycle 1, 2, 3, 4 %}{%- endcapture -%}
                {{ placeholder | placeholder_svg_tag: 'placeholder-svg w-100 h-100' }}
              {%- endif -%}
            </a>
          </div>
          <div class="contact-detail get-info">
            <div class="store-info">
              <div class="section-title">
                <h2 class="mr-0" data-fade-in>{{ block.settings.store_title }}</h2>
              </div>
              <ul class="info_wrap list-unstyled">
                <li data-fade-in class="info_wrapper">
                  <div class="info-block">
                    <div class="icon">
                      {{ block.settings.info_icon1 }}
                    </div>
                    <div class="text-block">
                      <span>{{ block.settings.sub_title1 }}</span>
                      <a href="tel:{{ block.settings.contact_number }}">{{ block.settings.contact_number }}</a>
                    </div>
                  </div>
                </li>
                <li data-fade-in class="info_wrapper">
                  <div class="info-block">
                    <div class="icon">
                      {{ block.settings.info_icon2 }}
                    </div>
                    <div class="text-block">
                      <span>{{ block.settings.sub_title2 }}</span>
                      <a href="mailto:{{ block.settings.mail_address }}">{{ block.settings.mail_address }}</a>
                    </div>
                  </div>
                </li>
                <li data-fade-in class="info_wrapper">
                  <div class="info-block">
                    <div class="icon">
                      {{ block.settings.info_icon3 }}
                    </div>
                    <div class="text-block">
                      <span>{{ block.settings.sub_title3 }}</span>
                      <p class="mr-0">{{ block.settings.info_link3 }}</p>
                    </div>
                  </div>
                </li>
                <li data-fade-in class="info_wrapper">
                  <div class="info-block">
                    <div class="icon">
                      {{ block.settings.info_icon4 }}
                    </div>
                    <div class="text-block">
                      <span>{{ block.settings.sub_title4 }}</span>
                      <p class="mr-0">{{ block.settings.info_link4 }}</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% schema %}
{
  "name": "Store location multirow",
  "settings": [
  {
    "type": "header",
    "content": "Section width"
  },
  {
    "type": "select",
    "id": "container",
    "label": "Section width",
    "options": [
      {
        "label": "Fluid",
        "value": "fluid"
      },
      {
        "label": "Normal",
        "value": "normal"
      }
    ],
    "default": "normal"
  },
  {
    "type": "header",
    "content": "Section space top bottom"
  },
  {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad"
    },
    {
      "type": "range",
      "id": "section_padding_top_ipad",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "section_padding_bottom_ipad",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    }
  ],
  "blocks": [
  {
    "type": "store-image",
    "name": "Image",
    "settings": [
    {
      "type": "text",
      "id": "store_title",
      "label": "Heading",
      "default": "Valsone shop"
    },
    {
      "type": "image_picker",
      "id": "contact_img",
      "label": "Contact image",
      "info": "Recommended size: 1400x640px"
    },
    {
      "type": "url",
      "id": "contact_img_url",
      "label": "url"
    },
    {
      "type": "textarea",
      "id": "info_icon1",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "sub_title1",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "contact_number",
      "label": "Contact number",
      "default": "+999 3222 000 388"
    },
    {
      "type": "textarea",
      "id": "info_icon2",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "sub_title2",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "mail_address",
      "label": "Mail address",
      "default": "Mail address"
    },
    {
      "type": "textarea",
      "id": "info_icon3",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "sub_title3",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "info_link3",
      "label": "Store address",
      "default": "Store address"
    },
    {
      "type": "textarea",
      "id": "info_icon4",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "sub_title4",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "info_link4",
      "label": "Store time",
      "default": "Store time"
    }
    ]
  }
  ],
  "presets": [
  {
    "name": "Store location multirow",
    "blocks": [
      {
        "type": "store-image"
      },
      {
        "type": "store-image"
      },
      {
        "type": "store-image"
      }
    ]
  }
  ]
}
{% endschema %}
