{% layout none %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_background }}">
    <link rel="canonical" href="{{ canonical_url }}">
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    {%- assign formatted_balance = gift_card.balance | money_without_trailing_zeros | strip_html -%}
    <title>{{ 'gift_cards.issued.title' | t: value: formatted_balance, shop: shop.name }}</title>
    <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">
    {% render 'meta-tags' %}
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

    {%- liquid
      assign body_font = settings.body_font_handle
      assign body_font_bolder = body_font | font_modify: 'weight', 'bolder'
      assign body_font_bold = body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
      assign header_font = settings.header_font_handle
      assign section_header_font = settings.section_header_font_handle
      assign paragraph_font = settings.paragraph_font_handle
      assign other_font = settings.other_font_handle
    -%}
    <style>
      {{ header_font | font_face: font_display: 'swap' }}
      {{ section_header_font | font_face: font_display: 'swap' }}
      {{ paragraph_font | font_face: font_display: 'swap' }}
      {{ other_font | font_face: font_display: 'swap' }}
      {{ body_font | font_face: font_display: 'swap' }}
      {{ body_font_bolder | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {%- liquid
        assign header_font = settings.header_font_handle
        assign section_header_font = settings.section_header_font_handle
        assign paragraph_font = settings.paragraph_font_handle
        assign other_font = settings.other_font_handle
        assign body_font = settings.body_font_handle
        assign body_font_bolder = body_font | font_modify: 'weight', 'bolder'
        assign body_font_bold = body_font | font_modify: 'weight', 'bold'
        assign body_font_italic = body_font | font_modify: 'style', 'italic'
        assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
      -%}
    </style>
    {%- render 'header-css' -%}
    {%- render 'css-variables' -%}
    <style>
      {%- liquid
        echo header_font | font_face: font_display: 'swap'
      -%}
      {{ section_header_font | font_face: font_display: 'swap' }}
      {{ paragraph_font | font_face: font_display: 'swap' }}
      {{ other_font | font_face: font_display: 'swap' }}
      {{ body_font | font_face: font_display: 'swap' }}
      {{ body_font_bolder | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      :root {
        --font-weight-body--bold: {{ body_font_bold.weight | default: 700 }};
        --font-weight-body--bolder: {{ body_font_bolder.weight | default: 700 }};

        --font-color-body: {{ settings.body_text_color }};
        --font-size-body: {{ settings.body_font_size }}px;
        --background-color-body: {{ settings.body_bgcolor }};
        --extra-color-body: {{ settings.extra_bgcolor }};
        --button-radius: {{ settings.btn1_border_radius }}px;
        --font-stack-body: {{ body_font.family }}, {{ body_font.fallback_families }};
        --font-weight-body: {{ body_font.weight }};
        --font-style-body: {{ body_font.style }};
        --font-letter-spacing-body: {{ settings.body_letter_spacing }}px;

        --font-color-header: {{ settings.heading_text_color }};
        --font-stack-header: {{ header_font.family }}, {{ header_font.fallback_families }};
        --font-weight-header: {{ header_font.weight }};
        --font-style-header: {{ header_font.style }};
        --font-color-section-header: {{ settings.section_heading_text_color }};
        --font-stack-section-header: {{ section_header_font.family }}, {{ section_header_font.fallback_families }};
        --font-weight-section-header: {{ section_header_font.weight }};
        --font-style-section-header: {{ section_header_font.style }};
        --font-text-section-header: {{ settings.section_header_text_transform }};
        --font-color-paragraph: {{ settings.para_text_color }};
        --font-stack-paragraph: {{ paragraph_font.family }}, {{ paragraph_font.fallback_families }};
        --font-line-height-paragraph: {{ settings.paragraph_font_line_height }}px;
        --font-stack-other: {{ other_font.family }}, {{ other_font.fallback_families }};
        --font-color-primary: {{ settings.color_primary }};
        --theme-border-color: {{ settings.theme_border_color | color_modify: 'alpha', settings.theme_border_color_opacity }};
        --sti-color: {{ settings.tag_color }};
        --sti-font-size: {{ settings.tag_font_size }}px;
        --sti-bgcolor: {{ settings.tag_bgcolor }};
        --sti-text: {{ settings.tag_text_transform }};
        --sti-font-weight: {{ settings.tag_font_weight }};
        --sti-border: 1px solid {{ settings.tag_border_color | color_modify: 'alpha', settings.tag_border_color_opacity }};
        --sti-border-radius: {{ settings.tag_border_radius }}px;
        --box-body-bgcolor: {{ settings.box_body_bgcolor }};
      }
    </style>
    {{ content_for_header }}
    {{ 'template-giftcard.css' | asset_url | stylesheet_tag }}
  </head>
  <body class="gradient gift-card">
    <header>
      <div class="gift-card__price">
        <h1 class="mr-0">
          {% if settings.currency_code_enabled %}
            {{ gift_card.balance | money_with_currency }}
          {% else %}
            {{ gift_card.balance | money }}
          {% endif %}
        </h1>
        {%- if gift_card.enabled == false or gift_card.expired -%}
          <p class="mr-0 badge badge--expired">{{ 'gift_cards.issued.expired' | t }}</p>
        {%- endif -%}
      </div>
      {% if gift_card.expires_on %}
        {%- assign gift_card_expiration_date = gift_card.expires_on | date: '%B %e, %Y' -%}
        <p class="mr-0 gift-card__text">
          {{ 'gift_cards.issued.expiration_date' | t: expires_on: gift_card_expiration_date }}
        </p>
      {% endif %}
    </header>

    <main>
      <div class="gift-card__image-wrapper">
        {%- if settings.logo_header -%}
          <a
            href="{{ routes.root_url }}"
            class="theme-header-logo"
            style="max-width: {{ settings.logo_header_max_width }}px;"
          >
            {% if settings.logo_other.src %}
              {{
                settings.logo_other.src
                | image_url: width: 500
                | image_tag:
                  loading: 'lazy',
                  width: settings.logo_header.width,
                  height: settings.logo_header.height,
                  class: 'stcky-logo',
                  alt: shop.name
                | escape
              }}
            {% endif %}
          </a>
        {%- else -%}
          <img
            class="gift-card__image"
            src="{{ 'gift-card/card.svg' | shopify_asset_url }}"
            alt=""
            height="{{ 570 | divided_by: 1.5 }}"
            width="570"
            loading="eager"
          >
        {%- endif %}
      </div>
      <h2 class="mr-0">{{ shop.name }}</h2>
      <div class="gift-card__text-wrapper">
        <p class="mr-0 gift-card__text">{{ 'gift_cards.issued.how_to_use_gift_card' | t }}</p>
      </div>
      <p id="gift-card-code" class="mr-0 gift-card__number">{{ gift_card.code | format_code }}</p>
      <div class="gift-card__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>
      {%- if gift_card.pass_url -%}
        <a href="{{ gift_card.pass_url }}" class="gift_card__apple-wallet no-print">
          <img
            src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}"
            width="120"
            height="40"
            alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}"
            loading="lazy"
          >
        </a>
      {%- endif -%}
      <div class="gift-card__buttons no-print">
        <span class="gift-card__copy-success form__message" role="status"></span>
        <template>
          <svg aria-hidden="true" focusable="false" class="icon icon-success" viewBox="0 0 13 13">
            <path d="M6.5 12.35C9.73087 12.35 12.35 9.73086 12.35 6.5C12.35 3.26913 9.73087 0.65 6.5 0.65C3.26913 0.65 0.65 3.26913 0.65 6.5C0.65 9.73086 3.26913 12.35 6.5 12.35Z" fill="#428445" stroke="white" stroke-width="0.7"/>
            <path d="M5.53271 8.66357L9.25213 4.68197" stroke="white"/>
            <path d="M4.10645 6.7688L6.13766 8.62553" stroke="white">
          </svg>
          {{ 'gift_cards.issued.copy_code_success' | t }}
        </template>
        <button class="btn-style gift-card__copy-button">{{ 'gift_cards.issued.copy_code' | t }}</button>
        <a
          href="{{ routes.root_url }}"
          class="btn-style2"
          target="_blank"
          rel="noopener"
          aria-describedby="a11y-new-window-message"
        >
          {{ 'gift_cards.issued.shop_link' | t }}
        </a>
      </div>
    </main>
  </body>
</html>

<script>
  var string = { qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }} };
  document.addEventListener('DOMContentLoaded', function() {
   new QRCode( document.querySelector('.gift-card__qr-code'), {
    text: document.querySelector('.gift-card__qr-code').dataset.identifier,
    width: 72,
    height: 72,
    imageAltText: string.qrImageAlt
    });
  });
  var template = document.getElementsByTagName("template")[0];
  var clonedTemplate = template.content.cloneNode(true);
  var isMessageDisplayed = false
  document
  .querySelector('.gift-card__copy-button')
  .addEventListener('click', () => {
    navigator.clipboard.writeText(document.getElementById('gift-card-code').innerText).then(function () {
      if (!isMessageDisplayed) {
        document.querySelector('.gift-card__copy-success').appendChild(clonedTemplate);
        isMessageDisplayed = true
      }
    });
  });
</script>
